<h2>Enter City </h2>
<%= form_tag(weather_search_path, method: :get) do %>
<label>City : </label></br>
<%= text_field_tag :name %></br>
<%= submit_tag "search" %></br>
<% end %>

<% if !@result.nil? %>
<h3>The temparature in <%= params[:name] %> is <%= @result["main"]["temp"] %> </h3>
<% end %>

